body {
  font-family: 'Brush Script MT', cursive;
}
        h3 
        {
            width: 1500px;
           height: 100px;
        }
        h3 {
            font-size: 35px;
        }
    
        p {
            font-size: 20px;
        }
  @media screen ( max-width: 480px;)
          {
            body {
                background-image: url(abstract-leaves-with-red-backlight.jpg );
            }
        }
           

            
